/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul  {
  list-style: none;
}


a{
    cursor: pointer;
    font-size: 1.8em;
}

h1 {
  font-size: 6em;
  font-weight: 900;
}

h2 {
  font-size: 5em;
  font-weight: 900;
}

h3 {
  font-size: 4em;
  font-weight: 900;
}

h4 {
  font-size: 3.5em;
  font-weight: 900;
}

h5 {
  font-size: 3em;
  font-weight: 900;
}

h6 {
  font-size: 2.5em;
  font-weight: 900;
}

p {
  font-size: 1.8em;
}
/* For images to not be able to exceed their container */
img {
  width: 300px;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}