:root {
    font-size: 62.5%;
    background-color: white;
}


/* CSS styling for the header */
.main-header {
    justify-content: center;
    height: fit-content;
    background-color: #1F2937;
    color: #F9FAF8;
    
}

header {
    display: flex;
    align-items: baseline;
    gap: 20px;
    background-color: white;
    color: #1F2937;
    padding: 20px 80px 20px 80px;
    justify-content: space-between;
}


nav ul{
    display: flex;
    gap: 20px;
    font-size: .9em;
    font-weight: 900
    
}

.logo {
    font-size: 2em;
    font-weight: 900;
    border-radius: 10px;
}

/* CSS Styling for the hero section */
.hero {
    display: flex;
    width: inherit;
    flex-wrap: wrap;
    padding: 100px;
    gap: 50px;
    justify-content: center;

}

.hero-image img{
    width: 400px;
    border-radius:20px;    
}

.hero-text {
    width: 400px;

}

.hero-text h3, p{
    padding-bottom: 8px;
}

.hero-text button {
    font-size: 1.8em;
    font-weight: 900;
    background-color: #3882F6;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}


/* CSS styling for our top cars recommendation */
.top-cars {
    padding: 100px;
    height: fit-content;
}

.cars-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
}

.cars-card img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.cars-card-item {
    text-align: center;
    align-items: center;
    justify-content: center;
}


.cars-card-item p {
    font-size: 2em;
    padding-bottom: 2px
}

.cars-card-item a {
    font-size: 1.6em;
    font-weight: 600;
    color: #1F2937;
    font-style: italic;
}

.cars-card-item a:hover {
    color: #3882F6;
    transition: all 0.3s ease-in-out;
}

.top-cars h6 {
    text-align: center;
    padding: 20px;
}
